
# Operating System Files

*.DS_Store
Thumbs.db
*~
.#*
#*
*#

# Build Files

bin
target
build/
classes/
.gradle

# Eclipse Project Files

.classpath
.project
.settings

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
primary/*/out/*
input/*/out/*
secondary/*/out/*
output/*/out/*
_config.yml

# Spring Bootstrap artifacts

dependency-reduced-pom.xml
mem*.db
README.html
*/out/*

# MySQL Workbench metadata

*mwb.bak